/* css for my personal site */ 

body{
    justify-items: center;
    align-items: center;
    display: grid;
    background-color: #EAF6FF;
    padding: 0;
    margin: 0;
}

header nav{
    display: flex;
}

header nav h3 {
    padding: 0;
    margin: 25px;
    justify-items: center;
    align-items: center;
}
header {
    justify-items: center;
    align-items: center;
}
.boxTitle {
    background-color: #009FFD;
    margin: 10px;
    height: 150px;
    width: 500px;
    justify-items: center;
    align-items: center;
    align-content: center;
}
div h1 {
    padding-left: 30px;
}
.mypic {
    max-width: 500px;
    max-height: 300px;
}
.logo {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}
main {
    justify-items: center;
    align-items: center;
}
.footer_div {
    background-color: lightblue;
    border-style: thick;
    border-color: black;
    width: 100px;
    height: 50px;
    align-content: center;
    border-radius: 25%;
}
.siteplan {
    color: black;
    padding: 5px;
    min-width: 50px;
    min-height: 25px;
}